<launch>

  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot_description)/robots/roomba_circles_kinect.urdf.xacro"/>
    <param name="tf_prefix" value="robot1_tf" />
  </group>
  <include file="$(find hare)/launch/one_robot.launch" >
    <arg name="init_pose" value="-x 0 -y 0 -z 0" />

    <arg name="robot_name"  value="robot1" />
  </include>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="robot_description" command="$(find xacro)/xacro.py $(find mmp30_description)/urdf/description.xacro"/>
    <param name="tf_prefix" value="robot2_tf" />
  </group>
  <include file="$(find hare)/launch/one_robot.launch" >
    <arg name="init_pose" value="-x 4 -y 1 -z 0" />
    <arg name="robot_name"  value="robot2" />
  </include>

  <!-- BEGIN ROBOT 3-->
  <group ns="robot3">
    <param name="robot_description" command="$(find xacro)/xacro.py $(find rosbot_description)/urdf/rosbot.xacro"/>
    <param name="tf_prefix" value="robot3_tf" />
  </group>
  <include file="$(find hare)/launch/one_robot.launch" >
    <arg name="init_pose" value="-x 2 -y 5 -z 0" />
    <arg name="robot_name"  value="robot3" />
  </include>


</launch>
