[Desktop Entry]
Name=node_manager
Comment=GUI for managing running and configured ROS nodes on different hosts
Exec=/bin/sh -c ". /home/jackson/Development/HARE/install/setup.sh; /home/jackson/Development/HARE/install/lib/node_manager_fkie/node_manager"
Icon=/home/jackson/Development/HARE/install/share/node_manager_fkie/rqt_icons/crystal_clear_prop_run.png
Terminal=false
Type=Application
Categories=Utility;Development;